.image-blog{
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background-image: url("parcel-img.jpg");
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
}

body {
    padding-top: 55px; 
}